@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.under-line {
  position: relative;
  display: inline-block;
  color: #be185d;
  text-decoration: none;
}

.under-line::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #be185d;
  transform: scaleX(0);
  transform-origin: bottom right;
  transform: scaleX(1);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hero-container {
  background-image: url('./assets/pattern-one.svg');
  background-size: cover;
  background-position: 0% 100%;
  background-repeat: no-repeat;
}
